<div class="container-fluid p-3 pt-3" style="overflow-y: scroll; background-color: #1A1717; height: 100%; color:white ">
  <h1 class="text-center purple" style="font-weight: 500; font-size: 24px; margin-bottom:10px ">Create a new event</h1>

  <div class="form-container" style="overflow-y: scroll;">

<form [formGroup]="eventForm" (ngSubmit)="submitEvent()">
  <div class="form-group">
    <label for="event-title">Event Title</label>
    <input type="text" id="event-title" formControlName="title" placeholder="Event title" required>
  </div>

  <div class="form-group">
    <label for="event-description">About the event</label>
    <input type="text" id="event-description" formControlName="description" placeholder="Short preview about the event.." required>
  </div>

  <div class="form-group">
    <label for="event-image">Event Image</label>
    <input type="file" id="event-image" formControlName="image_base64" accept="image/*" (change)="onFileSelected($event)">
    <p style="font-size: 10px; font-weight: 200;">Images accepted must be around: 500 x 250</p>
    <img [src]="imagePreview" alt="Event Image" style="max-width: 100%;" *ngIf="imagePreview">
  </div>

  <div class="d-flex align-items-center justify-content-between" style="gap:5px">
    <div class="form-group" style="width:100%">
      <label for="ticket-price">Ticket price</label>
      <input type="number" id="ticket-price" formControlName="ticket_unit_price" placeholder="Enter ticket price" required>
    </div>

    <div class="form-group" style="width:100%">
      <label for="available-seats">Available seats</label>
      <input type="number" id="available-seats" formControlName="available_tickets" placeholder="Enter available seats" required>
    </div>
  </div>


  <div class="d-flex justify-content-between align-items-center" style="gap:8px">
    <div class="form-group" style="width: 60%;">
      <label for="start-date">Start Date</label>
      <input type="date" id="start-date" formControlName="date" required>
    </div>
    <div class="form-group" style="width: 40%;">
      <label for="launch-time">Launch Time</label>
      <input type="time" id="launch-time" formControlName="launch_time" required>
    </div>
  </div>

  <div class="form-group">
    <label for="place">Location</label>
    <input type="text" id="place" formControlName="location" placeholder="Precise the exact place of the event.." required>
  </div>

<div class="d-flex align-items-center justify-content-between">
  <div class="form-group" style="width: 49%;">
    <label for="event-category">Event Category</label>
    <select id="event-category" formControlName="category" >
      <option value="movies">Movies</option>
      <option value="games">Games</option>
      <option value="parties">Parties</option>
      <option value="art">Art</option>
      <option value="meet">Meet</option>
      <option value="music">Music</option>
      <option value="education">Education</option>
    </select>
  </div>

  <div class="form-group" style="width: 49%;">
    <label for="age-category">Event Age Category</label>
    <select id="age-category" formControlName="age_category" style="padding-right: 4px;">
      <option value="everyone">Family</option>
      <option value="Child">Children</option>
      <option value="Teen">Teen</option>
      <option value="young_adult">Young Adults</option>
      <option value="adult">Adults</option>
      <option value="senior">Seniors</option>
    </select>
  </div>
</div>


  <div class="d-flex align-items-center justify-content-center form-group" style="width:100%; gap:7px">
    <label for="agree-terms">Agree to Terms and Conditions</label>
    <input type="checkbox" id="agree-terms" formControlName="agreeTerms" required>
  </div>


  <div class="button-container" style="margin-bottom: 25px;">
    <button type="submit" class="primary-button">Submit your event</button>
    <button type="button" class="secondary-button">Discard event</button>
  </div>
</form>

  </div>

  <app-bottom-bar></app-bottom-bar>
</div>